.container {
  padding: 30px;
}

.container .input-form {
  width: 250px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 10px;
  transition: 0.3s;
}
.container .input-form::-webkit-input-placeholder {
  font-size: 14px;
}
.container .input-form:focus {
  border: 1px solid #286efa !important;
  outline-width: 0;
}

.container .btn-action {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  background: #286efa;
  color: #fff;
  font-size: 14px;
  border: 1px solid #286efa;
  border-radius: 3px;
}
.container .btn-action:hover {
  background: #3c82ff;
  cursor: pointer;
}
